/* --SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

--FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fff;
}

.center {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  margin-bottom: 4.8rem;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4.8rem;
}

a {
  text-decoration: none;
  color: #333;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 3rem 0;
  z-index: 999;
  border-bottom: 0.6px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav-logo {
  color: #1864ab;
  font-size: 2rem;
  font-weight: 600;
  /* margin-top: 5px; */
  cursor: pointer;
}

.nav-img {
  width: 20px;
  height: 20px;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
  cursor: pointer;
}

.main-nav-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: #555;
}

.main-nav-link:hover {
  color: #1864ab;
}

.login-btn {
  background-color: #1864ab;
  padding: 10px 30px;
  border-radius: 9px;
  color: #fff;
  transition: all 0.3s;
}

.login-btn:hover {
  background-color: transparent;
}

.nav-logo span {
  color: #0b7285;
}

.btn-mobile-nav {
  display: none;
}

.hero-section {
  background-color: #e7f5ff;
  padding: 4.8rem 0 9.6rem 0;
  height: 100vh;
}

.hero {
  max-width: 130rem;
  margin: 10rem auto;
  padding: 0 3.2rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.primary-heading {
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 1.2;
  font-size: 4rem;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -0.7px;
  margin-bottom: 4.8rem;
}

.btns {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.Explore-more-btn {
  background-color: #a5d8ff;
}

.Explore-more-btn:hover {
  background-color: #1864ab;
  color: #fff;
}

.Learn-more-btn {
  background-color: #e7f5ff;
  box-shadow: inset 0 0 0 1px #333;
}

.Learn-more-btn:hover {
  background-color: #fff;
  box-shadow: none;
}

.hero-img-box {
  width: 100%;
}

.hero-img {
  width: 100%;
  border-radius: 9px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.46);
  padding: 3.4rem;
  margin-bottom: 3.2rem;
}

.img-text {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 3.2rem;
}

.aboutus-section {
  padding: 9.6rem 0;
}

.secondary-heading {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 8rem;
  color: #0b7285;
  padding: 1.6rem;
  border-bottom: 2px solid #999;
}

.about-us {
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
}

.product-img {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.381);
  width: 100%;
}

.about-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3.2rem;
  color: #222;
}

.about-description {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  line-height: 1.5;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.View-details-btn {
  font-size: 1.7rem;
  text-decoration: underline;
}

.View-details-btn:hover {
  color: #999;
}

.all-products {
  grid-column: 1/-1;
  justify-self: center;
}

.link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  padding-bottom: 3px;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.link:hover {
  color: #777;
  border: transparent;
}

.customer-img {
  height: 4.8rem;
  border-radius: 50%;
  border: 2px solid #666;
}

.testimonials-section {
  padding: 9.6rem 0;
}

.headings {
  grid-column: 1/-1;
}

.testimonial-heading {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #0b7285;
  padding: 1.6rem;
  border-bottom: 2px solid #999;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.2rem;
  column-gap: 4.8rem;
  /* grid-column: 1/4; */
  /* grid-row: 1/2; */
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2.4rem;
  border-radius: 9px;
  background-color: #fbfdff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}

.testimonial:hover {
  transform: scale(1.04);
}

.testimonial-text-box {
  font-size: 1.8rem;
  line-height: 1.5;
}

.customer-name {
  font-size: 1.4rem;
}

.FAQ-section {
  padding: 9.6rem 0;
  grid-row: 3/-1;
  /* background-color: rgba(11, 115, 133, 0.317); */
}

.faq-heading {
  font-size: 3.2rem;
  text-align: center;
}

.accordion {
  padding: 3.2rem;
}

.question-box {
  border-top: 1px solid #333;
  padding: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer-box {
  padding: 1.2rem;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  line-height: 1.5;
  display: none;
}

.answer {
  font-weight: 600;
}

.openBtn {
  border: transparent;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.show {
  display: block;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}

.footer-logo-container {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.footer-img {
  width: 40px;
  height: 40px;
}

.footer-logo {
  color: #1864ab;
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
}

.footer-logo span {
  color: #0b7285;
}

.footer-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-section ul li a:hover {
  color: #1864ab;
}

.social-icons a {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}

.social-icons a:hover {
  color: #1864ab;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #222;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 1.5rem;
}
