body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background: #1864ab;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.release,
.previous-updates,
.upcoming-features {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.upcoming-features {
  position: relative;
}

h2 {
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

a {
  text-decoration: none;
}

.back-btn {
  border: 1px solid #555;
  background: none;
  font-size: 1.5rem;
  color: #222;
  position: absolute;
  bottom: 10%;
  right: 40px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}
.back-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
